.div-image {
  background-size: cover;
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("../images/food.jpg");
}

/* .div-image img {
  width: 100%;
  height: 100%;
} */

.div-headcomponent {
  position: relative;
}
.div-image-cover {
  background-color: #d6f0d1;
  height: 50vh;
  width: 100%;
  transform: translateY(-77%);
}
