.div-order-bucket {
  width: 35%;
  margin: 0 auto;
  height: auto;
  background-color: #0c110b;
  padding: 1.6rem;
  color: #7aae70;
  font-size: 1.6rem;
  border-radius: 0.9rem;
}

.div-order-total {
  display: flex;
  justify-content: space-between;
}

.div-order-total {
  border-top: 1px solid #7aae70;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.div-buttons {
  display: flex;
  justify-content: space-around;
}
.button {
  padding: 0.8rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-color: #7aae70;
  color: #0c110b;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: 1.6rem;
}
